.marquee {
    position: fixed;
    z-index: 1000;
    overflow: hidden;
    mix-blend-mode: difference;
    width: 100%;
    top: 50px;
}

.marquee_inner {
    display: flex;
    font-size: 10vw;
    position: relative;
    width: fit-content;
    transform: translateX(0%);
    animation: marquee 8s linear infinite;
    background-color: transparent;
}

.marquee_inner span {
    padding: 0 4vw;
    color: #fff;
}

@keyframes marquee {
    100% {
        transform: translateX(-50%);
    }
}

/* .box {
    width: 100px;
    height: 100px;
    background-color: #fff;
} */