.marquee {
    position: fixed;
    z-index: 1000;
    overflow: hidden;
    mix-blend-mode: difference;
    width: 100%;
    top: 50px;
}

.marquee_inner {
    display: flex;
    font-size: 10vw;
    position: relative;
    width: fit-content;
    transform: translateX(0%);
    animation: marquee 8s linear infinite;
    background-color: transparent;
}

.marquee_inner span {
    padding: 0 4vw;
    color: #fff;
}

@keyframes marquee {
    100% {
        transform: translateX(-50%);
    }
}

/* .box {
    width: 100px;
    height: 100px;
    background-color: #fff;
} */

.gallery {
    height: 295rem;
    position: relative;
}

.figure {
    position: absolute;
}

.figure img {
    display: none;
}

.figure:nth-child(1) {
    height: 40rem;
    width: 70rem;
}

.figure:nth-child(2) {
    height: 50rem;
    width: 40rem;
    left: 85rem;
    top: 30rem;
}

.figure:nth-child(3) {
    height: 50rem;
    width: 60rem;
    left: 15rem;
    top: 60rem;
}

.figure:nth-child(4) {
    height: 30rem;
    width: 50rem;
    right: 0;
    top: 10rem;
}

.figure:nth-child(5) {
    height: 60rem;
    width: 40rem;
    right: 15rem;
    top: 55rem;
}

.figure:nth-child(6) {
    height: 75rem;
    width: 57.5rem;
    left: 5rem;
    top: 120rem;
}

.figure:nth-child(7) {
    height: 70rem;
    width: 50rem;
    right: 0;
    top: 130rem;
}

.figure:nth-child(8) {
    height: 50rem;
    width: 40rem;
    left: 85rem;
    top: 95rem;
}

.figure:nth-child(9) {
    height: 65rem;
    width: 50rem;
    left: 75rem;
    top: 155rem;
}

.figure:nth-child(10) {
    height: 43rem;
    width: 30rem;
    right: 0;
    top: 215rem;
}

.figure:nth-child(11) {
    height: 50rem;
    width: 80rem;
    left: 70rem;
    top: 235rem;
}

.figure:nth-child(12) {
    height: 70rem;
    width: 50rem;
    left: 0;
    top: 210rem;
}